<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jin.Board.IBoardDao">
<select id="SelectBoard" parameterType="com.jin.Board.Board">
select * from
(select no, id, date, title, contents
	from Board 
	ORDER By no Desc
) 

</select>

<insert id="InsertBoard" parameterType="com.jin.Board.Board">
<selectKey keyProperty="no" resultType="int" order="BEFORE">
select nvl(max(no), 0)+1 from Board 
</selectKey>
Insert into Board (no, id, date, title, contents) 
	values (#{no}, #{id}, #{date}, #{title}, #{contents})
</insert>

<update id="UpdateWrite" parameterType="com.jin.Board.Board">
Update Board Set title = #{title} where id=#{id}
Update Board Set contents = #{contents} where id=#{id}  
</update>

<select id="SelectBoardId" parameterType="com.jin.Board.Board" resultType="String">
select * from board where id=#{id}
</select>
<delete id="DeleteWrite" parameterType="com.jin.Board.Board">
Delete from board where no=#{no}

</delete>

</mapper>