<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jin.Membership.IMemberDao">

<select id="isExistID" parameterType="String" resultType="int">
SELECT COUNT(*) FROM login WHERE ID=#{id}
</select>

<insert id="InsertLogin" parameterType="com.jin.Membership.Login" >
insert into login (id, pw) values (#{id}, #{pw})
</insert>

<insert id="InsertMember" parameterType="com.jin.Membership.Member" >
INSERT INTO Member (id, gender,  email) VALUES (#{id},  #{gender}, #{email}
insert into login (id, pw) values (#{id}, #{pw})
</insert>




<!-- <insert id="Insert" parameterType="com.jin.MyBatis.Person">
INSERT INTO person(ID, FIRSTNAME, LASTNAME)
VALUES(#{id,jdbcType=NUMERIC},#{firstname,jdbcType=VARCHAR},#{lastname,jdbcType=VARCHAR})
</insert>
<select id="SelectPart" parameterType="String" resultType="com.jin.Membership.Login">
SELECT * FROM PERSON
WHERE id=#{id}
</select>

<update id="Modify" parameterType="map">
UPDATE PERSON
SET firstName = #{fn}, lastName = #{ln}
WHERE id = #{id}
</update> -->

</mapper>








